<!-- Barra de Ação -->
<div class="action-bar">
    <div class="search-container">
        <span class="search-icon material-icons">search</span>
        <input type="text" class="search-input" [(ngModel)]="searchQuery" placeholder="Search scripts...">
    </div>
    <button class="create-btn" (click)="addBot()">
        <span class="material-icons">add</span> Add Bot
    </button>
</div>
<div class="bot-list-container">
<div class="bot-list">
    @for (bot of bots; track bot.id) {
        <div class="bot-card">
        <img [src]="" alt="Bot Image" class="bot-image">
        <div class="bot-info">
            <h4>{{ bot.username }}</h4>
            <div class="status-switch">
            <label class="switch">
                <input type="checkbox" (change)="online(bot.id)">
                <span class="slider"></span>
            </label>
            </div>
            <div class="bar health-bar">
            <div class="fill" [style.width.%]="bot.health" [style.background]="bot.health > 50 ? '#4CAF50' : '#FF5722'"></div>
            </div>
            <div class="bar hunger-bar">
            <div class="fill" [style.width.%]="bot.hunger" [style.background]="bot.hunger > 50 ? '#FFD700' : '#FF5722'"></div>
            </div>
        </div>
        </div>
    }
</div>
</div>  

<div class="script-grid">
    <div class="script-card" *ngFor="let script of scripts">
        <div class="card-header">
            <h3>{{ script.title }}</h3>
            <span class="status-badge" [ngClass]="{ 'active': script.running, 'inactive': !script.running }">
                {{ script.running ? 'Running' : 'Stopped' }}
            </span>
        </div>
        <div class="card-content">
            <p>{{ script.description }}</p>
        </div>
    </div>
</div>
  