
<div class="content">
    <div class="about-section">
    <h2>Sobre o Controlador de Bots do Minecraft</h2>
    <p>
        Este projeto tem como objetivo criar uma interface de controle para bots no jogo Minecraft. Com ele, você pode facilmente gerenciar e interagir com seus bots de maneira simples e eficiente.
    </p>
    <p>
        O controlador oferece várias funcionalidades para facilitar a administração dos bots, garantindo uma experiência de jogo mais personalizada.
    </p>

    <br>

    <div class="card-container" style="display: flex;justify-content: center;">
        <div class="card">
        <div class="card-header">
            <span class="material-icons">person</span>
            <h3>LinkedIn</h3>
        </div>
        <div class="card-body">
            <p>Conecte-se comigo no LinkedIn para saber mais sobre o meu trabalho!</p>
            <a href="https://www.linkedin.com/in/seu-perfil" target="_blank" class="primary-btn">Visitar Perfil</a>
        </div>
        </div>

        <div class="card">
        <div class="card-header">
            <span class="material-icons">chat</span>
            <h3>Discord</h3>
        </div>
        <div class="card-body">
            <p>Junte-se ao meu servidor no Discord para trocar ideias sobre o projeto!</p>
            <a href="https://discord.gg/seu-servidor" target="_blank" class="primary-btn">Entrar no servidor</a>
        </div>
        </div>

        <div class="card">
            <div class="card-header">
                <span class="material-icons">chat</span>
                <h3>GitHub</h3>
            </div>
            <div class="card-body">
                <p>Acesse meu GitHub para ver o que está por vir.</p>
                <a href="https://discord.gg/seu-servidor" target="_blank" class="primary-btn">Entrar no GitHub</a>
            </div>
        </div>
    </div>
    </div>
</div>