<div class="action-bar">
    <div class="search-container">
      <span class="material-icons search-icon">search</span>
      <input 
        type="text" 
        placeholder="Procurar Conexões..." 
        [(ngModel)]="searchQuery"
        class="search-input"
      >
    </div>
    <button class="create-btn" (click)="openCreateModal()">
      <span class="material-icons">add</span>
      Nova Conexão
    </button>
  </div>
  
  <div class="connection-grid">
    @for (connection of connections; track connection.id) {
      <div class="connection-card" (click)="openConnection(connection)">
        <div class="card-header">
          <span class="material-icons connection-icon">api</span>
          <div class="status-badge" style="color:greenyellow">online</div>
        </div>
        <div class="card-content">
          <h3>{{connection.host}}</h3>
          <p class="type">{{connection.port}}</p>
        </div>
        <div class="card-actions">
          <button class="action-btn">
            <span class="material-icons">settings</span>
          </button>
          <button class="action-btn">
            <span class="material-icons">more_vert</span>
          </button>
        </div>
      </div>
    }
  </div>
  
  @if (showModal) {
    <div class="modal-overlay" (click)="closeModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
          <h2>Criar Nova Conexão</h2>
          <button class="close-btn" (click)="closeModal()">
            <span class="material-icons">close</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Endereço:</label>
            <input type="text" style="max-width: 20rem;" [(ngModel)]="this.newConnectionHost" placeholder="Enter connection name">
          </div>
          <div class="form-group">
            <label>Endereço:</label>
            <input type="text" style="max-width: 20rem;" [(ngModel)]="this.newConnectionPort" placeholder="Enter connection name">
          </div>
        </div>
        <div class="modal-footer">
          <button class="secondary-btn" (click)="closeModal()">Cancelar</button>
          <button class="primary-btn" (click)="createConnection()" >Criar Conexão</button>
        </div>
      </div>
    </div>
}